td.table-item {
    height: 250px;
    width: 250px;
    margin-right: 5%;
    animation-name: news_load;
    animation-duration: 2s;
}

p {
    margin-bottom: 100px;

}

img.table-img {
    width: 100%;
    margin-bottom: 30px;
}

table {
    margin: 0 0 0 13%;
    width: 10%;
}

.text-container {
    width: 100%;
    text-align: center;
    color: #0c5460;
}
.news-title {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #4e9196;
    display: block;
    width: 100%;
    text-decoration: none;
}

@keyframes news_load {
    from {transform:translateX(-1000px)}
    to {transform: translateX(0)}
}
