td {
    width: 100%;
    animation-name: news_load;
    animation-duration: 2s;
    margin: 0 0 10% 0;
    padding: 0;
}

body {
    text-align: center;
    left: 0;
}


img.table-img {
    width: 100%;
    margin-bottom: 30px;
}

.text-container {
    width: 100%;
    text-align: center;
    color: #0c5460;
    margin: 0 auto;
}
.news-title {
    width: 100%;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #4e9196;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@keyframes news_load {
    from {transform:translateX(-1000px)}
    to {transform: translateX(0)}
}
